/*MAIN CSS*/

/*for testing*/
* {
  /*border: 1px dotted red;*/
}


/*app styles*/
.app-container {
  margin-top: 150px;
}
hr {
  border-top-color: #979797;
  margin: 2px 0 25px 0;
}
p.blurb {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 25px;
}
a.content-block-link {
  color: black;
  text-decoration: underline;
}
.lead-text {
  font-size: 30px;
  letter-spacing: 1.5px;
  font-weight: 200;
  font-variant: normal;
}


/*navigation styles*/
.navbar {
  background-color: #00062B;
  padding: 22px 0;
}
.navbar a, .navbar a:hover, .navbar a:focus {
  background-color: #00062B !important;
  color: #FFFFFF !important;
  font-size: 13px;
  margin-left: 18px;
  letter-spacing: 1px;
}
.navbar a.nav-highlight {
  color: #958726 !important;
}
.navbar-brand-img {
  position: relative;
  top: -18px;
  left: -15px;
}


/*planatirMain styles*/
.planatir-main-big-x {
  margin-bottom: 28px;
}
.big-x-image {
  position: relative;
  top: -14px;
  left: 5px;
}
.big-x-image:hover {
  cursor: pointer;
}
.palantir-main-stack1 {
  margin-bottom: 70px;
}


/*data list styles*/
.data-list-block {
  margin-bottom: 30px;
}
.data-list-header {
  background-color: #BCBCBC;
  color: white;
  line-height: 36px;
  vertical-align: middle;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.data-list-item {
  margin-top: 12px;
  font-size: 15px;
}
.data-lead-text {
  height: 90px;
  line-height: 100px;
}
/*for left style*/
.data-list-header-left, .data-list-item-left {
  position: relative;
  left: 70px;
}


/*table styles*/
.table th, .table td {
  border: none !important;
}
.table td {
  height: 50px !important;
}
.table th {
  background-color: #BCBCBC;
  color: white;
  height: 60px;
}
.table-header-text {
  position: relative;
  top: 12px;
}
.table-data-text {
  position: relative;
  top: 10px;
  font-size: 15px;
}
.table-data-stripe {
  background-color: #F2F2F6;
}
.table-up-arrow {
  position: relative;
  top: -10px;
  left: 15px;
  height: 17px;
  width: 17px;
}


/*content group styles*/
h1.content-group-header {
  position: relative;
  left: 24px;
  margin-bottom: 0;
  font-size: 30px;
  letter-spacing: 2.4px;
  color: #C6C6C6;
  font-weight: 100;
  font-variant: normal;
}
.about-content-container, .list-content-container {
  margin-bottom: 100px;
}


/*content block styles*/
.content-block-container {
  min-height: 105px;
}
.content-block-header {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 19px;
  letter-spacing: .3px;
  margin-top: 0;
}
.content-block-lead {
  font-size: 30px;
  margin-bottom: 5px;
  letter-spacing: 1.5px;
  font-weight: 100;
  font-variant: normal;
}
.content-block-text {
  font-size: 16px;
}
.recent-press-block-item {
  padding-bottom: 155px;
}


/*button group styles*/
div.button-group-container {
  margin: 100px 0;
}
a.info-button, a.info-button:hover, a.info-button:focus {
  color: #FFFFFF;
  width: 360px;
  height: 96px;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 70px;
  margin-bottom: 20px;
}


/*footer styles*/
html {
  position: relative;
  min-height: 100%;
}
.footer {
  background-color: #00062B;
  margin-top: 100px;
}
.footer-content {
  padding: 20px 0 50px 0;
}
.footer-text {
  margin: 10px 0 15px 0;
  color: #7A7A7E;
}
.footer-text-sm {
  font-size: 12px;
  line-height: 19px;
}










